*.pyc
sharethesunshine/__pycache__
*.DS_Store
*.log
*.db
sharethesunshine/static/.sass-cache
sharethesunshine/static/.webassets-cache
sunshine_errors.log
sharethesunshine/templates/home_parents_weekend.html
