{% extends "base.html" %}

{% block title %}Page not found | Share the Sunshine{% endblock title %}

{% block meta_indexing %}<meta name="robots" content="noindex">{% endblock meta_indexing %}

{% block page %}error{% endblock page %}

{% block content %}
<h2 class="lead">Page not found</h2>

<div class="description">
    <p>You've found a page that doesn't exist. Please use your browser's back button or reenter your URL.</p>
    <p>If you feel the error is with our application, please contact us at <a href="mailto:info@shareasunshine.com">info@sshareasunshine.com</a>.
</div>

{% endblock content %}