{% extends "base.html" %}

{% block title %}Server error | Share the Sunshine{% endblock title %}

{% block page %}error{% endblock page %}

{% block content %}
<h2 class="product_lead">Server error</h2>

<div class="product_description">
    <p>Unfortunately, we're experiencing a problem with our server currently. Please visit us again later.</p>
    <p>If you'd like to contact us about this error, send us an email at <a href="mailto:info@share.drinkthesunshine.com">info@share.drinkthesunshine.com</a>.
</div>

{% endblock content %}