<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock title %}</title>
        {% assets "css_all" %}
        <link href="{{ ASSET_URL }}" media="screen, projection" rel="stylesheet" type="text/css">
        {% endassets %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body id="{% block page %}{% endblock %}">
    {% block facebook_js %}
    {% endblock facebook_js %}
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="mailto:info@sharethesunshine.com">Contact</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="content_wrap">
            {% block flash_messages %}
            {% endblock flash_messages %}
            {% block form_errors %}
            {% endblock form_errors %}
            <div class="branding">
                <a href="/" title="Share the Sunshine">
                <img class="standard_header" src="{{ url_for('static', filename='images/logo.png') }}" alt="Share the Sunshine">
                <img src="{{ url_for('static', filename='images/logo_mobile.png') }}" alt="Share the Sunshine" class="responsive_header">
                </a>
            </div>

            <div class="content_main">
            {% block content %}{% endblock content %}
            </div>

            <footer>
                <ul class="social">
                    <li class="facebook"><a href="https://www.facebook.com/DrinkSunshine"><img src="{{ url_for('static', filename='images/facebook_icon.png') }}" alt="facebook"></a></li>
                    <li class="twitter"><a href="https://twitter.com/sunshinedrink"><img src="{{ url_for('static', filename='images/twitter_icon.png') }}" alt="twitter"></a></li>
                </ul>
                <p><a href="/terms/">Terms and Conditions</a> &copy; Sunshine Beverages, LLC. All rights reserved.</p>
            </footer>
            
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script>
        $('#personal_message').limit('140','#charsleft');
    </script>
    
    </body>
</html>