<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Wanna make someone's day? Send 'em a can of Sunshine, pronto! To say good luck, thanks, miss your pretty smile, or just because.">
        <title>{% block title %}{% endblock title %}</title>
        {% assets "css_all" %}
        <!-- <link href="{{ ASSET_URL }}" media="screen, projection" rel="stylesheet" type="text/css"> -->
        <link href="{{ url_for('static', filename='css/main.css') }}" media="screen, projection" rel="stylesheet" type="text/css">
        {% endassets %}
        {% block meta_indexing %}{% endblock meta_indexing %}

        {% block facebook_meta %}
        <meta property="og:site_name" content="Share the Sunshine">
        <meta property="og:title" content="I just shared the Sunshine. Keep the positive energy going.">
        <meta property="og:url" content="https://share.drinkthesunshine.com">
        <meta property="og:description" content="Wanna make someone's day? Send 'em a can of Sunshine-in the mail! It's the tastiest way to say howdy, good luck, thanks or miss your pretty smile.">
        <meta property="og:image" content="https://share.drinkthesunshine.com/static/images/share_the_sunshine_fb.png">
        {% endblock facebook_meta %}

        <link rel="apple-touch-icon" sizes="57x57" href="{{ url_for('static', filename='images/apple-touch-icon-57x57.png') }}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='images/apple-touch-icon-114x114.png') }}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='images/apple-touch-icon-72x72.png') }}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='images/apple-touch-icon-144x144.png') }}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='images/apple-touch-icon-60x60.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='images/apple-touch-icon-120x120.png') }}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='images/apple-touch-icon-76x76.png') }}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='images/apple-touch-icon-152x152.png') }}">

        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon-196x196.png') }}" sizes="196x196">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon-160x160.png') }}" sizes="160x160">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon-96x96.png') }}" sizes="96x96">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon-16x16.png') }}" sizes="16x16">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon-32x32.png') }}" sizes="32x32">

        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{{ url_for('static', filename='images/mstile-144x144.png') }}">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44803522-1', 'drinkthesunshine.com');
  ga('send', 'pageview');

</script>
    </head>
    <body id="{% block page %}{% endblock %}">
    {% block facebook_js %}
    {% endblock facebook_js %}
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="content_wrap">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/" title="Share the Sunshine"><img class="logo" src="{{ url_for('static', filename='images/logo_reversed.png') }}" alt="Share the Sunshine"></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="http://drinkthesunshine.com">Learn more</a></li>
                        <li><a href="mailto:info@share.drinkthesunshine.com">Contact</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="content_wrap">
            {% block flash_messages %}
            {% endblock flash_messages %}
            {% block form_errors %}
            {% endblock form_errors %}

            <div class="content_main">
            {% block content %}{% endblock content %}
            </div>

            <footer>
                <ul class="refers">
                    <li class="twitter"><a href="https://twitter.com/sunshinedrink"><img src="{{ url_for('static', filename='images/twitter_icon.png') }}" alt="Twitter"></a></li>
                    <li class="drinkthesunshine"><a href="http://drinkthesunshine.com"><img src="{{ url_for('static', filename='images/footer_logo.png') }}" alt="Share the Sunshine"></a></li>
                    <li class="facebook"><a href="https://www.facebook.com/DrinkSunshine"><img src="{{ url_for('static', filename='images/facebook_icon.png') }}" alt="Facebook"></a></li>
                    
                </ul>
                <p><a href="/terms">Terms and Conditions</a> &copy; <a href="http://drinkthesunshine.com">Sunshine Beverages, LLC</a>. All rights reserved.</p>
            </footer>
            
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script>
        $('#personal_message').limit('140','#charsleft');
    </script>
    
    </body>
</html>