{% extends "base.html" %}

{% block title %}Share the Sunshine. Send goodliness to a friend. | share.drinkthesunshine.com{% endblock title %}

{% block page %}home{% endblock page %}

{% block form_errors %}
            {% if form.errors %}
            <div id="form_errors">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>WARNING!</strong> Your contact form had some errors. Please <a href="#purchase_form">check your submission</a>, and try again.
            </div>
            {% endif %}
{% endblock form_errors %}

{% block content %}
<div class="product_intro">
    <h2 class="lead">Finally, A Greeting Card You Can Drink</h2>

    <div class="product_spotlight">
        <!-- <span class="price"><span class="dollar_sign">$</span>5</span> -->
        <img src="{{ url_for('static', filename='images/can_box_front.png') }}" alt="Photo showing a can of Sunshine and the box it arrives in when shipped.">
    </div>
    
    <div class="description">
        <p>Know someone who could use a pick-me-up? For just $5, you can send a personalized can of Sunshine to anyone, anywhere in the US. Take that, flowers!</p>
        <!-- <a href="#purchase_form" class="progress_button">Get started now</a> -->
    </div>
</div>

<div class="content_order">

    {% if form.errors %}
    <ul id="form_error_messages">
    {% for message in form.recipient_name.errors %}
        <li>{{ message }}</li>
    {% endfor %}

    {% for message in form.recipient_email.errors %}
        <li>{{ message }}</li>
    {% endfor %}

    {% for message in form.shipping_street_address_1.errors %}
        <li>{{ message }}</li>
    {% endfor %}

    {% for message in form.shipping_street_address_2.errors %}
        <li>{{ message }}</li>
    {% endfor %}

    {% for message in form.shipping_city.errors %}
        <li>{{ message }}</li>
    {% endfor %}

    {% for message in form.shipping_state.errors %}
        <li>{{ message }}</li>
    {% endfor %}

    {% for message in form.shipping_zip.errors %}
        <li>{{ message }}</li>
    {% endfor %}

    {% for message in form.purchaser_name.errors %}
        <li>{{ message }}</li>
    {% endfor %}

    {% for message in form.personal_message.errors %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}

    <form action="/buy" method="POST" id="purchase_form">
        {{ form.csrf_token }}

        <div class="form_step">
            <h2>1. Your Friend's Name</h2>
        </div>

        <div class="field_grouper" id="recipient">

            <div class="form-group{% if form.recipient_name.errors %} has-error{% endif %}">
                {{ form.recipient_name.label }}
                {{ form.recipient_name(class_='form-control', maxlength='250') }}
                <span class="help_text">{{ form.recipient_name.description|safe }}</span> <span class="required">*</span>
            </div>

            <div class="form-group{% if form.recipient_email.errors %} has-error{% endif %}">
                    {{ form.recipient_email.label }}
                    {{ form.recipient_email(class_='form-control', maxlength='100') }}
                    <span class="help_text">{{ form.recipient_email.description|safe }}</span>
            </div>

        </div>

        <div class="form_step">
            <h2>2. Your Friend's Address</h2>
        </div>

        <div class="field_grouper" id="recipient_address">

            <div class="form-group{% if form.shipping_street_address_1.errors %} has-error{% endif %}">
                {{ form.shipping_street_address_1.label }}
                {{ form.shipping_street_address_1(class_='form-control', maxlength='250') }}
                <span class="help_text">{{ form.shipping_street_address_1.description|safe }}</span> <span class="required">*</span>
            </div>

            <div class="form-group{% if form.shipping_street_address_2.errors %} has-error{% endif %}">
                {{ form.shipping_street_address_2.label }}
                {{ form.shipping_street_address_2(class_='form-control', maxlength='250') }}
                <span class="help_text">{{ form.shipping_street_address_2.description|safe }}</span>
            </div>

            <div class="form-group{% if form.shipping_city.errors %} has-error{% endif %}">
                {{ form.shipping_city.label }}
                {{ form.shipping_city(class_='form-control', maxlength='250') }}
                <span class="help_text">{{ form.shipping_city.description|safe }}</span> <span class="required">*</span>
            </div>

            <div class="form-group{% if form.shipping_state.errors %} has-error{% endif %}">
                {{ form.shipping_state.label }}
                {{ form.shipping_state(class_='form-control', maxlength='2') }}
                <span class="help_text">{{ form.shipping_state.description|safe }}</span> <span class="required">*</span>
            </div>

            <div class="form-group{% if form.shipping_zip.errors %} has-error{% endif %}">
                {{ form.shipping_zip.label }}
                {{ form.shipping_zip(class_='form-control', maxlength='9') }}
                <span class="help_text">{{ form.shipping_zip.description|safe }}</span> <span class="required">*</span>
            </div>
        </div>

        <div class="form_step">
            <h2>3. Add your message</h2>
        </div>

        <div class="field_grouper" id="message">
            <div class="form-group{% if form.personal_message.errors %} has-error{% endif %}">
                {{ form.personal_message.label }}
                {{ form.personal_message(class_='form-control', rows='10') }}
                <span class="help_text">{{ form.personal_message.description|safe }}. You have <b><span id="charsleft"></span></b> characters left.</span> <span class="required">*</span>
            </div>
        </div>

        <div class="field_grouper" id="purchaser">
            <h3>From:</h3>
        
            <div class="form-group{% if form.purchaser_name.errors %} has-error{% endif %}">
                {{ form.purchaser_name.label }}
                {{ form.purchaser_name(class_='form-control', maxlength='250') }}
                <span class="help_text">{{ form.purchaser_name.description|safe }}</span>
            </div>
        </div>

        <div class="field_grouper" id="submit">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-image="{{ url_for('static', filename='images/sunshine_logo.png') }}"
                data-key="{{ key }}"
                data-description="1 can of Sunshine ($5.00)"
                data-email=""
                data-label="Share the Sunshine"
                data-allow-remember-me="false"
                data-amount="500">
        </script>
        </div>
    </form>
</div>


<div class="testimonials">
    <h3>All-Time Favorites</h3>
    <div id="testimonial_carousel" class="carousel slide">
        <div class="carousel-inner">
            {% for testimonial in testimonials %}
            <div class="item{% if loop.first %} active{% endif %}">
                <span class="testimonial_salutation">{{ testimonial.salutation|safe }}</span>
                <span class="testimonial_text">{{ testimonial.testimonial|safe }}</span>
                <span class="testimonial_author">{{ testimonial.author|safe }}</span>
            </div>
            {% endfor %}
        </div>
        <a class="testimonial_left controls" href="#testimonial_carousel" data-slide="prev">
            <img src="{{ url_for('static', filename='images/arrow_left.png') }}" alt="">
        </a>
        <a class="testimonial_right controls" href="#testimonial_carousel" data-slide="next">
            <img src="{{ url_for('static', filename='images/arrow_right.png') }}" alt="">
        </a>
    </div>
</div>
{% endblock content %}