{% extends "base.html" %}

{% block title %}Administrative login | Share the Sunshine{% endblock title %}

{% block meta_indexing %}<meta name="robots" content="noindex">{% endblock meta_indexing %}

{% block page %}auth{% endblock page %}

{% block flash_messages %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id="flash_messages">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    </div>
    {% endif %}
{% endwith %}
{% endblock flash_messages %}

{% block user_greeting %}
    <div class="user_greeting">

    </div>
{% endblock %}

{% block content %}
<div class="intro">
    <h2 class="lead">Administrative Login</h2>

    <div class="description">
        {% if form.errors %}
        <ul id="form_error_messages">
        {% for message in form.email.errors %}
            <li>{{ message }}</li>
        {% endfor %}

        {% for message in form.password.errors %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        <form method="POST" action="/login" class="login_form">
            {{ form.csrf_token }}
            <div class="field_grouper" id="auth_fields">
                <div class="form-group{% if form.email.errors %} has-error{% endif %}">
                    {{ form.email.label }}
                    {{ form.email(class_='form-control') }}
                </div>
                <div class="form-group{% if form.password.errors %} has-error{% endif %}">
                    {{ form.password.label }}
                    {{ form.password(class_='form-control') }}
                </div>
                <input type="submit" value="Login" id="submit">
            </div>
        </form>
    </div>
</div>
{% endblock %}
