{% extends "base.html" %}

{% block title %}Logout of Administrative Access | Share the Sunshine{% endblock title %}

{% block meta_indexing %}<meta name="robots" content="noindex">{% endblock meta_indexing %}

{% block page %}auth{% endblock page %}

{% block flash_messages %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <div id="flash_messages">
    {% for message in messages %}
        {{ message }}
    {% endfor %}
    </div>
    {% endif %}
{% endwith %}
{% endblock flash_messages %}

{% block content %}
<div class="intro">
    <h2 class="lead">Administrative Logout</h2>

    <div class="description">
        <p>Need more administrative access? Please <a href="/login">log in</a> again.</p>
    </div>
</div>
{% endblock %}
