{% extends "base.html" %}

{% block title %}Submission error | Share the Sunshine{% endblock title %}

{% block meta_indexing %}<meta name="robots" content="noindex">{% endblock meta_indexing %}

{% block page %}error{% endblock page %}

{% block content %}
<h2 class="lead">Card submission error</h2>

<div class="description">
    <p>There was an error processing your credit card. Please try again, or check with the company who issued your card.</p>
    <p>If you feel the error is with our application, please contact us at <a href="mailto:info@share.drinkthesunshine.com">info@share.drinkthesunshine.com</a>.
</div>

{% endblock content %}