{% extends "base.html" %}

{% block title %}Thanks for sharing Sunshine! | Share the Sunshine{% endblock title %}

{% block page %}thanks{% endblock page %}

{% block content %}
<h2 class="product_lead">Thanks for your order!</h2>

<div class="product_description">
    <p>{{ purchase.recipient_name }} will be getting a delicious can of Sunshine at {{ purchase.shipping_street_address_1 }}{% if purchase.shipping_street_address_2 %}, {{ purchase.shipping_street_address_2 }}{% endif %} in {{ purchase.shipping_city }}, {{ purchase.shipping_state }}.</p>
    <p>{% if purchase.purchaser_name %}You told us to include your name ({{ purchase.purchaser_name }}){% else %}You told us not to include your name{% endif %} with this personal message:</p>
    <p class="personal_message">{{ purchase.personal_message }}</p>
    <p><b>NOTE:</b> You will receive an email confirmation of this order. Your order number is: {{ purchase.uuid }}</p>
</div>

{% endblock content %}