// Colors

$sts_canvas: rgba(255,249,242,1);
$sts_dk_canvas: rgba(134,117,77,1);
$sts_dk_gray: rgba(117,120,124,1);
$sts_required_red: rgba(178,15,15,1);
$sts_gray: rgba(117,120,124,1);
$sts_black: rgba(18,18,17,1);
$sts_brown: rgba(125,110,74,1);