// Imports
@import 'bourbon/bourbon';
@import 'bootstrap/bootstrap';

@import 'colors';
@import 'typography';

// Main styles

#home {
    @include background(url("../images/mountains_bg.png"));
    background-position: center;
    background-repeat: no-repeat;
    background-color: $sts_canvas;
    min-height: 2000px;
    padding-top: 70px;
    
    .content_wrap {
        @extend .container;
    }

    nav[role="navigation"] {

        .nav {
            @extend .text-right;
            
            li {

            }
        }

        .navbar-collapse {
            @extend .pull-right;
            font-family: council_regular-webfont;
            font-size: 16px;
            letter-spacing: 3px;
            text-transform: uppercase;

            a {
                color: white;
            }
        }
    }

    .branding {

        img {
            @extend .img-responsive, .center-block;
        }

        /*h1 {
            //background: url("../images/logo.png") no-repeat center center;
            //background-size: 940px 179px;
            //width: 940px;
            //height: 179px;
            //@extend .text-hide;
        }*/
    }

    .content_main {
        @extend .row;
        position: relative;
        padding-top: 100px;

        &:before {
            content: "";
            position: absolute;
            background: url("../images/form_border_bg.png") repeat-x;
            height: 6px;
            width: 100%;
            top: 50px;
        }

        .product_lead {
            @extend .col-sm-12;
            font-family: council_regular-webfont;
            color: $sts_dk_canvas;
            font-size: 42px;
            font-weight: normal;
            margin-top: 0;
            text-transform: uppercase;
            letter-spacing: 10px;
            margin-bottom: 25px;

            @media (min-width: $screen-sm-min) {
                font-size: 82px;
                margin-bottom: 50px;
            }
        }

        .product_description {
            @extend .col-sm-6;

            p {
                font-family: $sts_body;
                font-weight: bold;
                font-size: 15px;
                line-height: 1.8em;
            }

            .product_specs {
                @extend .text-center;
                position: relative;
                margin-top: 50px;
                
                h3 {
                    @extend .text-hide, .hidden-xs;
                    background: url("../images/price_logo.png") no-repeat center center;
                    background-size: 471px 194px;
                    height: 194px;
                }

                .responsive_header {
                    @extend .visible-xs, .center-block, .img-responsive;
                }

                .spec_lead {
                    
                    position: absolute;
                    font-family: a_love_of_thunder-webfont;
                    font-size: 14px;
                    top: 48px;
                    left: 48px;

                    @media (min-width: $screen-sm-min) {
                        top: 60px;
                        left: 55px;
                        font-size: 16px;
                    }

                    @media (min-width: $screen-md-min) {
                        top: 90px;
                        left: 155px;
                        font-size: 16px;
                    }
                }

                ul {
                    @extend .list-unstyled;
                    margin-top: 25px;

                    li {
                        margin-bottom: 25px;
                        font-family: a_love_of_thunder-webfont;
                        font-size: 16px;
                    }
                }
            }
        }

        .product_spotlight {
            @extend .col-sm-6, .text-center;
            position: relative;

            .mobile_product_spotlight {
                @extend .visible-xs;
            }

            .carousel {
                @extend .hidden-xs;
            }

            .carousel-inner {
                margin-bottom: 25px;
                min-height: 530px;

                @media (min-width: $screen-md-min) {
                    min-height: 850px;
                }
            }

            .see_more {
                font-family: council_regular-webfont;
                color: black;
                text-transform: uppercase;
                font-size: 24px;
                letter-spacing: 5px;

                @media (min-width: $screen-md-min) {

                }
            }

            img {
                @extend .img-responsive;
            }

            %carousel_controls {
                position: absolute;
            }

            .product_left {
                @extend %carousel_controls;
                bottom: 10px;
                left: -10px;

                @media (min-width: $screen-md-min) {
                    left: 50px;
                }
            }

            .product_right {
                @extend %carousel_controls;
                bottom: 10px;
                left: 225px;

                @media (min-width: $screen-md-min) {
                    left: 375px;
                }
            }
        }

        .testimonials {
            @extend .col-sm-12, .hidden-xs;
            position: relative;
            margin-top: 100px;

            &:before {
                content: "";
                position: absolute;
                @include background-image(url("../images/testimonials_frame_upper_left.png"), url("../images/testimonials_frame_upper_right.png"));
                background-position: top left, top right;
                background-repeat: no-repeat, no-repeat;
                height: 70px;
                top: 0px;
                left: 0px;
                width: 100%;
            }

            &:after {
                content: "";
                position: absolute;
                @include background-image(url("../images/testimonials_frame_lower_left.png"), url("../images/testimonials_frame_lower_right.png"));
                background-position: bottom left, bottom right;
                background-repeat: no-repeat, no-repeat;
                height: 70px;
                bottom: 0px;
                left: 0px;
                width: 100%;
            }

            .carousel-inner {
                min-height: 250px;
            }

            h3 {
                @extend .text-center;
                font-family: a_love_of_thunder-webfont;
                font-size: 24px;
                margin-bottom: 50px;
            }

            .testimonial_salutation, .testimonial_text, .testimonial_author {
                font-family: $sts_body;
                font-weight: bold;
                font-size: 15px;
                display: block;
                padding: 0 100px;
                line-height: 1.8em;
                margin-bottom: 25px;
            }

            %carousel_controls {
                position: absolute;

            }

            .testimonial_left {
                @extend %carousel_controls;
                top: 65px;
                left: 0px;
            }

            .testimonial_right {
                @extend %carousel_controls;
                top: 65px;
                right: 0px;
            }
        }
    }

    .content_order {
        @extend .row;

        h2 {
            @extend .text-hide, .hidden-xs;
            background: url("../images/lets_get_started_text.png") no-repeat center;
            background-size: 413px 92px;
            height: 92px;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                background: url("../images/black_dot.png") repeat-x center left;
                height: 4px;
                width: 25%;
                top: 50px;
                left: 0;
            }

            &:after {
                content: "";
                position: absolute;
                background: url("../images/black_dot.png") repeat-x center right;
                height: 4px;
                width: 25%;
                top: 50px;
                right: 0;
            }
        }

        .responsive_header {
            @extend .visible-xs, .center-block, .img-responsive;
            margin-top: 50px;
            margin-bottom: 50px;
            padding-left: 15px;
            padding-right: 15px;
        }

        form {

            label {
                @extend .text-hide;
            }

            .required {
                color: $sts_required_red;
            }

            .help_text {
                color: $sts_gray;
                font-family: $sts_body;
                font-size: 13px;
            }

            .field_grouper {

                h3 {
                    font-family: $sts_body;
                    font-size: 16px;
                    font-weight: bold;
                }
            }

            %field_grouper {
                @extend .col-sm-6;
            }

            #recipient, {
                @extend %field_grouper;
            }

            #recipient_address, {
                @extend %field_grouper;
                
            }

            #message, {
                @extend %field_grouper;
            }

            #purchaser, {
                @extend %field_grouper;
            }

            #submit {
                @extend .col-sm-6, .col-sm-offset-3, .text-center;
                margin-top: 50px;
            }

            .stripe-button-el {
                background-image: none;
                background: black;

                span {
                    color: $sts_body;
                    //background: url("../images/add_to_wagon_btn.png") no-repeat;
                    background: black;
                    @include background-image(linear-gradient(#333 0, black 50%, transparent 50%));
                }
            }
        }
    }

    footer {
        position: relative;
        padding-bottom: 100px;

        &:before {
            content: "";
            position: absolute;
            background: url("../images/form_border_bg.png") repeat-x;
            height: 6px;
            width: 100%;
            top: 0px;
        }

        .social {
            @extend .list-unstyled, .list-inline, .text-center;
            margin-top: 50px;
            padding-top: 50px;
        }
    }
}