// Imports
@import 'bourbon/bourbon';
@import 'bootstrap/bootstrap';

@import 'colors';
@import 'typography';

// Main styles

body {
    background: $sts_canvas url("../images/bg_texture.png") repeat; 
}

.content_wrap {
    @extend .container-fluid;
}

#form_errors {
    @extend .row, .alert, .alert-danger, .alert-dismissable;
    position: absolute;
    z-index: 2;
    left: 20%;
    right: 20%;
    top: 110px;
    font-family: $sts_body;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 50px;

    a {
        @extend .alert-link;
    }
}

#flash_messages {
    @extend .alert, .alert-info;
    font-family: $sts_body;
    font-weight: bold;
    font-size: 15px;
}

nav[role="navigation"] {
    @extend .container-fluid;
    background: $sts_black url("../images/header_texture.png") repeat center center;

    .content_wrap {
        @extend .col-md-10, .col-md-offset-1, .col-lg-8, .col-lg-offset-2;
    }

    .nav {
        @extend .text-right;

        @media (min-width: $screen-sm-min) {
            margin-top: 20px;
        }
    }

    .navbar-toggle {
        margin-top: 14px;
        margin-bottom: 14px;
    }

    .navbar-collapse {
        @extend .pull-right;
        font-family: council_regular-webfont;
        font-size: 16px;
        letter-spacing: 3px;
        text-transform: uppercase;
        border: none;
        box-shadow: none;

        @media (min-width: $screen-sm-min) {
            font-size: 31px;
        }

        a {
            color: white;

            &:hover {
                text-decoration: none;
                color: shade(white, 15%);
            }
        }
    }

    .navbar-brand {
        max-width: 210px;
        height: auto;

        @media (min-width: $screen-sm-min) {
            max-width: 325px;
        }

        img {
            @extend .img-responsive;
        }
    }
}

.content_main {
    @extend .row, .clearfix;
    position: relative;
    background: url("../images/mountains_bg_sm.png") no-repeat center 100px;

    @media (min-width: $screen-sm-min) {
        background: url("../images/mountains_bg.png") no-repeat center top;
        margin-top: 50px;
    }

    .get_started {
        @extend .text-center;
        color: $sts_black;
        font-size: 20px;
        text-transform: uppercase;
        font-family: a_love_of_thunder-webfont;
        letter-spacing: 3px;
    }

    .intro {
        @extend .clearfix, .col-md-offset-1, .col-lg-offset-2;
        margin-top: 100px;
        position: relative;

        @media (min-width: $screen-md-min) {
            margin-bottom: 100px;
        } 

        .lead {
            @extend .text-center, .col-md-5, .col-lg-5;
            font-family: a_love_of_thunder-webfont;
            color: $sts_black;
            font-size: 26px;
            font-weight: normal;
            margin-top: 0;
            text-transform: uppercase;
            letter-spacing: 1px;
            margin-bottom: 25px;
            line-height: 1.2em;

            @media (min-width: $screen-sm-min) {
                font-size: 43px;
                margin-bottom: 50px;
            }
        }

        .description {
            @extend .text-center, .col-md-5, .col-lg-5;
            margin-top: 50px;

            @media (min-width: $screen-md-min) {
                position: absolute;
                top: 175px;
                margin-top: 0px;
            }

            p {
                padding-left: 15px;
                padding-right: 15px;
                font-family: $sts_body;
                font-weight: bold;
                font-size: 14px;
                line-height: 1.8em;
                margin-bottom: 25px;

                @media (min-width: $screen-sm-min) {
                    font-size: 19px;
                }
            }

            .glyphicon {
                @include animation(floating 1.5s infinite);
                margin-top: 25px;
                display: block;
                font-size: 32px;
                margin-bottom: 25px;

                @media (min-width: $screen-sm-min) {
                    margin-top: 50px;
                }
            }

            .get_started {

                @media (min-width: $screen-sm-min) {
                    margin-top: 50px;
                }
            }
           
        }

        .product_spotlight {
            @extend .col-md-6, .col-lg-6, .col-lg-pull-0;
            margin-top: 50px;

            @media (min-width: $screen-md-min) {
                margin-top: 0px;
            }

            img {
                @extend .img-responsive;
                max-width: 50%;
                margin: 0 auto;

                @media (min-width: $screen-sm-min) {
                    max-width: 100%;
                }
            }
        }
    }

    .testimonials {
        @extend .col-md-6, .col-md-offset-3, .hidden-xs;
        position: relative;
        margin-top: 100px;

        .carousel-inner {
            min-height: 250px;
        }

        h3 {
            @extend .text-center;
            font-family: a_love_of_thunder-webfont;
            font-size: 35px;
            margin-bottom: 50px;
            color: $sts_brown;
        }

        .testimonial_salutation, .testimonial_text, .testimonial_author {
            font-family: $sts_body;
            font-weight: bold;
            font-size: 15px;
            display: block;
            padding: 0 100px;
            line-height: 1.8em;
            margin-bottom: 25px;
        }

        %carousel_controls {
            position: absolute;
        }

        .testimonial_left {
            @extend %carousel_controls;
            top: 65px;
            left: 0px;
        }

        .testimonial_right {
            @extend %carousel_controls;
            top: 65px;
            right: 0px;
        }
    }
}

.content_order {
    @extend .container-fluid, .clearfix;

    .form_step {
        @extend .row, .clearfix;
        background: $sts_black url(../images/header_texture.png) repeat center center;
        clear: both;

        @media (min-width: $screen-md-min) {
            margin-bottom: 50px;
            margin-top: 50px;
        }

        h2 {
            @extend .col-md-offset-1, .col-lg-offset-2;
            @extend .text-center;
            color: $sts_brown;
            font-family: a_love_of_thunder-webfont;
            font-size: 18px;
            padding-top: 5px;
            padding-bottom: 5px;

            margin-top: 15px;
            letter-spacing: 3px;

            @media (min-width: $screen-sm-min) {
                font-size: 27px;
                text-align: center;
            }

            @media (min-width: $screen-md-min) {
                text-align: left;
                padding-left: 30px;
            }
        }
    }

    #form_error_messages {
        @extend .alert, .alert-danger, .col-md-5, .col-md-offset-1, .col-lg-offset-2, .col-lg-4;
        margin-bottom: 25px;
        margin-left: 15px;
        margin-right: 15px;

        @media (min-width: $screen-md-min) {
            margin-top: 25px;
            margin-left: 8.3333%;
            margin-right: 8.3333%;
        }

        @media (min-width: $screen-lg-min) {
            margin-top: 25px;
            margin-left: 16.66667%;
            margin-right: 16.66667%;
        }

        li {
            font-family: $sts_body;
            font-weight: bold;
            font-size: 15px;
            line-height: 1.8em;
            margin-bottom: 10px;
            margin-left: 15px;
        }
    }

    form {

        label {
            @extend .text-hide;
        }

        .required {
            color: $sts_required_red;
        }

        .help_text {
            color: $sts_gray;
            font-family: $sts_body;
            font-size: 13px;
        }

        .field_grouper {
            @extend .row;

            h3 {
                font-family: $sts_body;
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 0px;
            }
        }

        %field_grouper {
            @extend .col-md-5, .col-md-offset-1, .col-lg-4, .col-lg-offset-2;
            clear: both;
        }

        #recipient {
            @extend %field_grouper;

            @media (min-width: $screen-md-min) {
                margin-bottom: 50px;
            }
        }

        #recipient_address {
            @extend %field_grouper;

            @media (min-width: $screen-md-min) {
                margin-bottom: 50px;
            }
        }

        #message {
            @extend %field_grouper;
        }

        #purchaser {
            @extend %field_grouper;
        }

        #submit {
            @extend .col-sm-6, .col-sm-offset-3, .text-center, .col-md-5, .col-md-offset-1, .col-lg-offset-2, .col-lg-4;
            margin-top: 25px;
            clear: both;
        }

        .stripe-button-el {
            background-image: none;
            background: $sts_black;
            border-radius: 0px;
            text-shadow: none;

            span {
                color: $sts_body;
                background: $sts_black;
                font-family: a_love_of_thunder-webfont;
                text-transform: uppercase;
                letter-spacing: 3px;
                font-size: 16px;
                border-radius: 0px;
                text-shadow: none;
                box-shadow: none;
                line-height: 1.3em;
                height: auto;
                padding: 10px 15px;
                @include background-image(linear-gradient(#333 0, black 50%, transparent 50%));
            }
        }
    }
}

footer {
    @extend .row, .clearfix;
    margin-top: 75px;
    background: $sts_black url("../images/header_texture.png") repeat;
    height: 65px;

    .refers {
        @extend .container-fluid, .list-unstyled, .list-inline, .col-sm-6, .col-sm-offset-3, .col-md-6, .col-md-offset-3;
        padding: 15px 0px;
        position: relative;

        li {
            @extend .col-xs-3;

            a {

                &:hover img {
                    opacity: 0.5;
                }

                img {
                    @extend .center-block;
                    opacity: 1;
                    @include transition (opacity 0.2s ease-in-out);

                }
            }

            &.drinkthesunshine {
                @extend .col-xs-6;
                position: relative;
                left: 0px;
                bottom: 50px;
                margin-bottom: -50px;

                @media (min-width: $screen-lg-min) {
                    bottom: 115px;
                }

                a {

                    &:hover img {
                        opacity: 1;
                    }
                }

                img {
                    width: 132px;
                    height: 129px;

                    @media (min-width: $screen-lg-min) {
                        width: 264px;
                        height: 258px;
                    }
                }
            }
        }
    }

    p {
        @extend .text-center, .small;
        clear: both;
        font-family: $sts_body;
        font-weight: bold;
        line-height: 1.8em;

        a {
            color: $sts_dk_canvas;

            &:hover {
                color: $sts_dk_canvas;
            }
        }
    }
}

// Keyframes for down arrow
@include keyframes(floating) {
  0% {
    @include transform(translateY(0%));
  }
  50% {
    @include transform(translateY(25%));
  }
  100% {
    @include transform(translateY(0%));
  }
}

#auth {

    .content_main {

        @media (min-width: $screen-sm-min) {
            height: 675px;
        }
        
    }

    .intro {
        @extend .col-md-offset-0;

        .lead {
            @extend .text-center, .col-md-10, .col-md-offset-1, .col-lg-8, .col-lg-offset-2;
        }

        .description {
            @extend .text-left, .col-md-10, .col-md-offset-1, .col-lg-8, .col-lg-offset-2;
            clear: both;

            @media (min-width: $screen-md-min) {
                position: none;
                top: 0px;
                margin-top: 0px;
            }
        }
    }

    #flash_messages {
        @extend .col-md-10, .col-md-offset-1, .col-lg-8, .col-lg-offset-2;
        margin-top: 100px;
    }

    #form_error_messages {
        @extend .alert, .alert-danger;
        margin-bottom: 50px;

        li {
            font-family: $sts_body;
            font-weight: bold;
            font-size: 15px;
            line-height: 1.8em;
            margin-bottom: 10px;
            margin-left: 15px;
        }
    }

    form {

        label {
            font-family: $sts_body;
            font-size: 16px;
            font-weight: bold;
        }

        %field_grouper {
            @extend .col-sm-6;
        }

        #auth_fields {
            @extend %field_grouper;
        }

        #submit {
            @extend .pull-right;
        }
    }

    a {
        color: $sts_dk_canvas;

        &:hover {
            color: $sts_dk_canvas;
        }
    }
}

// Terms and Conditions
#terms {

    .content_main {
        @media (min-width: $screen-sm-min) {
            margin-bottom: 200px;
        }
    }

    .intro {
        @extend .col-md-offset-0;

        .lead {
            @extend .text-center, .col-md-10, .col-md-offset-1, .col-lg-8, .col-lg-offset-2;
        }
    }

    .description {
        @extend .text-left, .col-md-10, .col-md-offset-1, .col-lg-8, .col-lg-offset-2;

        li {
            font-family: $sts_body;
            font-weight: bold;
            font-size: 15px;
            line-height: 1.8em;
        }

        @media (min-width: $screen-md-min) {
            position: none;
            top: 0px;
            margin-top: 0px;
        }
    }
}

// Thanks and purchase confirmation
#thanks {

    .intro {
        @extend .col-md-offset-0;

        .lead {
            @extend .text-center, .col-md-10, .col-md-offset-1, .col-lg-8, .col-lg-offset-2;
        }
    }

    .description {
        @extend .text-left, .col-md-10, .col-md-offset-1, .col-lg-8, .col-lg-offset-2;

        @media (min-width: $screen-md-min) {
            position: none;
            top: 0px;
            margin-top: 0px;
        }
    }

    #share_purchase {
        @extend .text-center, .col-md-10, .col-md-offset-1, .col-lg-8, .col-lg-offset-2;
        clear: both;

        @media (min-width: $screen-lg-min) {
            margin-bottom: 100px;
        }

        p {
            font-family: $sts_body;
            font-weight: bold;
            font-size: 14px;
            line-height: 1.8em;

            @media (min-width: $screen-sm-min) {
                font-size: 19px;
            }
        }

        ul {
            @extend .list-unstyled, .list-inline;

            li {
                vertical-align: top;
            }
        }
    }

}