// Imports
@import 'bourbon/bourbon';
@import 'bootstrap/bootstrap';

@import 'colors';
@import 'typography';

// Main styles

#home {
    @include background(url("../images/mountains_bg.png"));
    background-position: center;
    background-repeat: no-repeat;
    background-color: $sts_canvas;
    min-height: 2000px;
    padding-top: 70px;
    
    .content_wrap {
        @extend .container;
    }

    nav[role="navigation"] {

        .nav {
            @extend .text-right;
            
            li {

            }
        }
    }

    .branding {

        h1 {
            background: url("../images/logo.png") no-repeat;
            background-size: 940px 179px;
            //width: 940px;
            height: 179px;
            @extend .text-hide;
        }
    }

    .content_main {
        @extend .row;
        position: relative;
        padding-top: 100px;

        &:before {
            content: "";
            position: absolute;
            background: url("../images/form_border_bg.png") repeat-x;
            height: 6px;
            width: 100%;
            top: 50px;
        }

        .product_description {
            @extend .col-md-6;

            h2 {
                font-family: council_regular-webfont;
                color: $sts_dk_canvas;
                font-size: 82px;
                font-weight: normal;
                margin-top: 0;
            }

            p {
                font-family: $sts_body;
                font-weight: bold;
                font-size: 15px;
            }

            .product_specs {

                h3 {
                    @extend .text-hide;
                    background: url("../images/price_logo.png") no-repeat;
                    background-size: 471px 194px;
                    height: 194px;
                }

                p {
                    font-family: a_love_of_thunder-webfont;
                    font-size: 16px;
                }

                ul {

                    li {
                        font-family: a_love_of_thunder-webfont;
                        font-size: 16px;
                    }
                }
            }
        }

        .product_spotlight {
            @extend .col-md-6;

            img {
                @extend .img-responsive;
            }
        }

        .testimonials {
            @extend .col-md-12;

            h3 {
                font-family: a_love_of_thunder-webfont;
                font-size: 24px;
            }

            ul {
                @extend .list-unstyled;
            }

            span {
                font-family: $sts_body;
                font-weight: bold;
                font-size: 15px;
                display: block;
                padding: 0 100px;
            }
        }
    }

    .content_order {

        h2 {
            @extend .text-hide;
            background: url("../images/lets_get_started_text.png") no-repeat center;
            background-size: 413px 92px;
            height: 92px;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                background: url("../images/black_dot.png") repeat-x center left;
                height: 4px;
                width: 25%;
                top: 50px;
                left: 0;
            }

            &:after {
                content: "";
                position: absolute;
                background: url("../images/black_dot.png") repeat-x center right;
                height: 4px;
                width: 25%;
                top: 50px;
                right: 0;
            }
        }
    }
}